<div class="container">
    <div class="jumbotron main">
        <h1 class="display-4">Need help making a decision?</h1>
        <p class="lead">This application can help that decision making process simpler! It's very bare bones and not complete, but it works at the moment.</p>
        <hr class="my-4">
        <div class="button-row">
            <div class="button-row half">
                <button type="button" class="btn btn-danger btn-lg btn-block" routerLink="/food">Where should I go to eat?</button>
            </div>
            <div class="button-row half">
                <button type="button" class="btn btn-info btn-lg btn-block" routerLink="/movies">What movie should I watch?</button>
            </div>
        </div>
    </div>
</div>